<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title separator &bull; the best for seo -->
    <title>Carousel Demo2</title>
    <!--(canonical same original-source)current url without GET method query string LIKE ?NAME=VALUE&NAME2=VALUE2-->
    <link rel="canonical" href="#" />
    <meta property="fb:pages" content="add facebook page id" />
    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="~/Content/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <!--Lato light and regular best font for women's fashion - Luckiest Guy for kid's fashion-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Luckiest+Guy" rel="stylesheet">
    <!-- linearicons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- CUSTOM CSS -->
    <link href="~/Content/wow/Css/style.css" rel="stylesheet" />
</head>

<body class="body-wrapper">
    <div class="main-wrapper">
        <!-- CONTENT SECTION -->
        <section class="content clearfix">
            <div class="container">
                <!-- FEATURE COLLECTION SECTION -->
                <div class="mainContent">
                    <div class="row featuredProducts">
                        <div class="col-xs-12">
                            <div class="page-header">
                                <h2>Featured Products</h2>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="owl-carousel featuredProductsSlider">
                                <div class="slide">
                                    <div class="productImage clearfix">
                                        <img src="~/Content/plugins/images/17095171331_4ec22e0407_b - Copy (2).jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption clearfix">
                                        <a href="#">
                                            <h3 class="m-b-10">Mauris efficitur</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/36330948_459568721151410_6548609633475362816_n - Copy (2).jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Nulla facilisi</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/500_F_191623335_uSTAe77L1VpciMgY7skOJ6quUX7TQN3B.jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Praesent dui felis</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/69138532-blur-wallpapers - Copy (2).jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Cras eu faucibus</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/91e064a924989a372acb7b7fa81d9c02--corporate-office-decor-corporate-offices.jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Mauris lobortis augue</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/91e064a924989a372acb7b7fa81d9c02--corporate-office-decor-corporate-offices.jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Suspendisse suscipit</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/91e064a924989a372acb7b7fa81d9c02--corporate-office-decor-corporate-offices.jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Praesent a augue</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="productImage">
                                        <img src="~/Content/plugins/images/500_F_191623335_uSTAe77L1VpciMgY7skOJ6quUX7TQN3B.jpg" />
                                        <div class="productMasking">
                                            <ul class="list-inline btn-group" role="group">
                                                <li><a data-toggle="modal" href="#" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="productCaption">
                                        <a href="#">
                                            <h3 class="m-b-10">Cras vel augue</h3>
                                        </a>
                                        <span class="price">199$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/plugins/wow/wow.min.js"></script>
    <script src="~/Content/custom.js"></script>
</body>

</html>
